<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <text class="text-info">Резултать поиска </text>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Очество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Id</td>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>
                        <td>@person.MiddleName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
