@model ASR.NETCoreMVS.Models.Persons.PersonViewModel
@{
    ViewData["Title"] = "Scan";
}

    <h4 class="text-info">Искат человека из таблицу по ФИО</h4>
<form method="get" action="~/Person/GetScan">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="LastName">Фамилия</label><br />
                <input asp-for="LastName" type="text" class="form-control" placeholder="Фамилия человека" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="FirstName">Имя</label><br />
                <input asp-for="FirstName" type="text" class="form-control" placeholder="Имя человека" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="MiddleName">Очество</label><br />
                <input asp-for="MiddleName" type="text" class="form-control" placeholder="Очество человека" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Поиск" />
            </div>
        </div>
    </div>
</form>

